<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<footer>
    <div id="footer-content">
        <div class="footer-legal">
            <p>© STEG | <a href="mailto:webmaster@steg.com.tn">مشرف الموقع</a></p>
        </div>
        <div class="footer-section">
            <a href="https://www.steg.com.tn/ar/contact/horaires_ramdhan.html">مواقيتنا</a> |
            <a href="https://www.steg.com.tn/ar/index.html#">المصطلحات</a> |
            <a href="https://www.steg.com.tn/ar/contact/liens_utiles.html">روابط مفيدة</a> |
            <a href="https://www.steg.com.tn/ar/contact/contact.html">اتصل بنا</a> |
            <a href="https://www.steg.com.tn/ar/imprime_ligne/imprime_ligne_fr.html">استمارات على الخط</a> |
            <a href="https://www.steg.com.tn/ar/plan/plan.html">خريطة الموقع</a>
        </div>
        <div class="footer-section">
            <a href="https://www.facebook.com/steg.tunisie" aria-label="Facebook" target="_blank">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/stegtunisie" aria-label="Instagram" target="_blank">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCzlkr6sWAB9RKm-KSRjq9vQ" aria-label="YouTube" target="_blank">
                <i class="fab fa-youtube fa-lg"></i>
            </a>
            <a href="https://twitter.com/STEG_Tunisie" aria-label="Twitter" target="_blank">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/company/steg-tunisie" aria-label="LinkedIn" target="_blank">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
        </div>
    </div>
</footer>
