<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<header>
    <div id="logo-and-nav-web">
        <a href="/html/fr/index.html"><img id="logo" src="../../../images/logo.png" alt="STEG Logo" ></a>
        <nav>
            <a href="/html/fr/Qui sommes nous/historique.html">Qui sommes-nous?</a>
            <a href="/html/fr/Prestations/prestations.html">Prestations</a>
            <a href="/html/fr/Service a Distance/presentation.html">Service à distance</a>
            <a href="/html/fr/Participations STEG/participations.html">Participations STEG</a>
            <a href="/html/fr/Programme Gaz Naturelle/programme-gaz.html">Programme gaz naturel</a>
            <a href="/html/fr/espace-client.html" class="espace-client-link"><strong>Espace Client</strong></a>
        </nav>
        <div id="espace-client">
            <div class="tunisia-flag">
                <div class="language">
                    <a href="/html/en/index.html" class="floatrightxt"><strong>English</strong></a> |
                    <a href="/html/ar/index.html" class="floatrightxt"><strong>عربي</strong></a>
                </div>
                <div class="flag">
                    <span> République Tunisienne <br> Ministère de l'Indusrie, des Mines <br> et de l'Energie  </span>
                    <img src="../../../images/tn.png" />
                </div>
                <div class="links">
                    <a href="https://www.steg.com.tn/fr/faq/faq_fr.php" class="lienhaut">F.A.Q</a> |
                    <a href="https://www.steg.com.tn/fr/contact/liens_utiles.html" class="lienhaut">Liens Utiles</a> |
                    <a href="https://www.steg.com.tn/fr/contact/contact.html" class="lienhaut">Contact</a> |
                    <a href="https://www.steg.com.tn/fr/plan/plan.html" class="lienhaut">Plan du site</a>
                </div>
            </div>
        </div>
    </div>
    <div id="logo-and-nav-mobile">
        <a href="/html/fr/index.html"><img id="logo" src="../../../images/logo.png" alt="STEG Logo" ></a>
        <div class="menu-bar">
            <button id="toggle-menu"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="tunisia-flag">
            <div class="flag">
                <span> République Tunisienne <br> Ministère de l'Indusrie, des Mines <br> et de l'Energie  </span>
                <img src="../../../images/tn.png" />
        </div>
        <nav>
            <div class="language">
                <a href="/html/en/index.html" class="floatrightxt"><strong>English</strong></a> |
                <a href="/html/ar/index.html" class="floatrightxt"><strong>عربي</strong></a>
            </div>
            <a href="/html/fr/Qui sommes nous/historique.html">Qui sommes-nous?</a>
            <a href="/html/fr/Prestations/prestations.html">Prestations</a>
            <a href="/html/fr/Service a Distance/presentation.html">Service à distance</a>
            <a href="/html/fr/Participations STEG/participations.html">Participations STEG</a>
            <a href="/html/fr/Programme Gaz Naturelle/programme-gaz.html">Programme gaz naturel</a>
            <a href="/html/fr/espace-client.html" class="espace-client-link"><strong>Espace Client</strong></a>
            <div class="links">
                <a href="https://www.steg.com.tn/fr/faq/faq_fr.php" class="lienhaut">F.A.Q</a> |
                <a href="https://www.steg.com.tn/fr/contact/liens_utiles.html" class="lienhaut">Liens Utiles</a> |
                <a href="https://www.steg.com.tn/fr/contact/contact.html" class="lienhaut">Contact</a> |
                <a href="https://www.steg.com.tn/fr/plan/plan.html" class="lienhaut">Plan du site</a>
            </div>
        </nav>
    </div>
</header>

