<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<header>
    <div id="logo-and-nav-web">
        <a href="/html/ar/index.html"><img id="logo" src="../../../images/logo.png" alt="شعار STEG" ></a>
        <nav>
            <a href="/html/ar/Qui sommes nous/historique.html">من نحن؟</a>
            <a href="/html/ar/Prestations/prestations.html">الخدمات</a>
            <a href="/html/ar/Service a Distance/presentation.html">الخدمة عن بعد</a>
            <a href="/html/ar/Participations STEG/participations.html">مساهمات STEG</a>
            <a href="/html/ar/Programme Gaz Naturelle/programme-gaz.html">برنامج الغاز الطبيعي</a>
            <a href="/html/ar/espace-client.html" class="espace-client-link"><strong>فضاء الحرفاء</strong></a>
        </nav>
        <div id="espace-client">
            <div class="tunisia-flag">
                <div class="language">
                    <a href="/html/en/index.html" class="floatrightxt"><strong>English</strong></a> |
                    <a href="/html/fr/index.html" class="floatrightxt"><strong>Français</strong></a>
                </div>
                <div class="flag">
                    <span> الجمهورية التونسية <br> وزارة الصناعة، المناجم <br> والطاقة  </span>
                    <img src="../../../images/tn.png" />
                </div>
                <div class="links">
                    <a href="https://www.steg.com.tn/ar/faq/faq_ar.php" class="lienhaut">الأسئلة الشائعة</a> |
                    <a href="https://www.steg.com.tn/ar/contact/liens_utiles.html" class="lienhaut">روابط مفيدة</a> |
                    <a href="https://www.steg.com.tn/ar/contact/contact.html" class="lienhaut">الاتصال</a> |
                    <a href="https://www.steg.com.tn/ar/plan/plan.html" class="lienhaut">خريطة الموقع</a>
                </div>
            </div>
        </div>
    </div>
    <div id="logo-and-nav-mobile">
        <a href="/html/ar/index.html"><img id="logo" src="../../../images/logo.png" alt="STEG Logo" ></a>
        <div class="menu-bar">
            <button id="toggle-menu"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="tunisia-flag">
            <div class="flag">
                <span> الجمهورية التونسية <br> وزارة الصناعة، المناجم <br> والطاقة  </span>
                <img src="../../../images/tn.png" />
        </div>
        <nav>
            <div class="language">
                <a href="/html/en/index.html" class="floatrightxt"><strong>English</strong></a> |
                <a href="/html/fr/index.html" class="floatrightxt"><strong>Français</strong></a>
        </div>
            <a href="/html/ar/Qui sommes nous/historique.html">من نحن؟</a>
            <a href="/html/ar/Prestations/prestations.html">الخدمات</a>
            <a href="/html/ar/Service a Distance/presentation.html">الخدمة عن بعد</a>
            <a href="/html/ar/Participations STEG/participations.html">مساهمات STEG</a>
            <a href="/html/ar/Programme Gaz Naturelle/programme-gaz.html">برنامج الغاز الطبيعي</a>
            <a href="/html/ar/espace-client.html" class="espace-client-link"><strong>فضاء الحرفاء</strong></a>
            <div class="links">
                <a href="https://www.steg.com.tn/ar/faq/faq_ar.php" class="lienhaut">الأسئلة الشائعة</a> |
                <a href="https://www.steg.com.tn/ar/contact/liens_utiles.html" class="lienhaut">روابط مفيدة</a> |
                <a href="https://www.steg.com.tn/ar/contact/contact.html" class="lienhaut">الاتصال</a> |
                <a href="https://www.steg.com.tn/ar/plan/plan.html" class="lienhaut">خريطة الموقع</a>
        </div>
        </nav>
    </div>

</header>
