<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<header>
    <div id="logo-and-nav-web">
        <a href="/html/en/index.html"><img id="logo" src="../../../images/logo.png" alt="STEG Logo"></a>
        <nav>
            <a href="/html/en/Qui sommes nous/historique.html">About Us</a>
            <a href="/html/en/Prestations/prestations.html">Services</a>
            <a href="/html/en/Service a Distance/presentation.html">Remote Service</a>
            <a href="/html/en/Participations STEG/participations.html">STEG Participations</a>
            <a href="/html/en/Programme Gaz Naturelle/programme-gaz.html">Natural Gas Program</a>
            <a href="/html/en/espace-client.html" class="espace-client-link"><strong>Client Space</strong></a>
        </nav>
        <div id="client-space">
            <div class="tunisia-flag">
                <div class="language">
                    <a href="/html/fr/index.html" class="floatrightxt"><strong>Français</strong></a> |
                    <a href="/html/ar/index.html" class="floatrightxt"><strong>عربي</strong></a>
                </div>
                <div class="flag">
                    <span> Tunisian Republic <br> Ministry of Industry, Mines <br> and Energy </span>
                    <img src="../../../images/tn.png" />
                </div>
                <div class="links">
                    <a href="https://www.steg.com.tn/en/faq/faq_en.php" class="top-link">FAQ</a> |
                    <a href="https://www.steg.com.tn/en/contact/useful_links.html" class="top-link">Useful Links</a> |
                    <a href="https://www.steg.com.tn/en/contact/contact.html" class="top-link">Contact</a> |
                    <a href="https://www.steg.com.tn/en/map/map.html" class="top-link">Site Map</a>
                </div>
            </div>
        </div>
    </div>
    <div id="logo-and-nav-mobile">
        <a href="/html/en/index.html"><img id="logo" src="../../../images/logo.png" alt="STEG Logo" ></a>
        <div class="menu-bar">
            <button id="toggle-menu"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="tunisia-flag">
            <div class="flag">
                <span> Tunisian Republic <br> Ministry of Industry, Mines <br> and Energy </span>
                <img src="../../../images/tn.png" />
        </div>
        <nav>
            <div class="language">
                <a href="/html/fr/index.html" class="floatrightxt"><strong>Français</strong></a> |
                <a href="/html/ar/index.html" class="floatrightxt"><strong>عربي</strong></a>
        </div>
            <a href="/html/en/Qui sommes nous/historique.html">About Us</a>
            <a href="/html/en/Prestations/prestations.html">Services</a>
            <a href="/html/en/Service a Distance/presentation.html">Remote Service</a>
            <a href="/html/en/Participations STEG/participations.html">STEG Participations</a>
            <a href="/html/en/Programme Gaz Naturelle/programme-gaz.html">Natural Gas Program</a>
            <a href="/html/en/espace-client.html" class="espace-client-link"><strong>Client Space</strong></a>
            <div class="links">
                <a href="https://www.steg.com.tn/en/faq/faq_en.php" class="top-link">FAQ</a> |
                <a href="https://www.steg.com.tn/en/contact/useful_links.html" class="top-link">Useful Links</a> |
                <a href="https://www.steg.com.tn/en/contact/contact.html" class="top-link">Contact</a> |
                <a href="https://www.steg.com.tn/en/map/map.html" class="top-link">Site Map</a>
        </div>
        </nav>
    </div>

</header>
