.main-content {
    width: 40%;
}

.main-content h2 {
    text-align: center;
    color: #0046ab;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 15px;
}

.main-content .highlight {
    font-weight: bold;
}

.main-content .amount {
    color: #cc0000;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .main-content{
        width: 100%;
    }
}